# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
- List popular languages for Data Science
- List popular libraries for Data Science
- Give examples for simple calculations

Some of the popular languages that Data Scientists use are:
1. R
2. Julia
3. JavaScript
4. Scala
5. Go

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. NumPy
4. Matplotlib

|Data Science Tools|
|---------|
|Apache Spark|
|D3.js|
|Julia|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python
1+1=
2-1=
420-69=

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
Thomas Fluri